html {
    background-image: radial-gradient(circle at 43.84% -20.44%, #e1fffe 0, #cffffa 8.33%, #b9fff6 16.67%, #a0fcf3 25%, #83f2f0 33.33%, #5de7ee 41.67%, #0cdbed 50%, #00ceed 58.33%, #00c2ee 66.67%, #00b7f1 75%, #00adf3 83.33%, #00a3f6 91.67%, #0099f7 100%);}

.titles{
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user-and-password{
    padding:15px;
    text-align: center;
}

#register{
    text-align: end;
    border-radius: 35px;
}

.register-r{
    text-align: end;
    color:black;
    text-decoration: none;
    background-color: rgba(177, 107, 107, 0.5);
    padding: 5px;
}

.register-r:hover {
    background-color:lightslategray;
    opacity: 0.98;
    border-radius: 2em;
    transition-duration: 1s;
    transition-delay: initial;
    font-size:larger;
}

#lost-pass{
    text-align: end;
}

.lost-password-or-user{
    color: black;
    background-color: gray;
}

#back-to-main{
    text-align: start;
}

.main-page{
    color: black;
    background-color: gray;
}

.register-register{
    text-align: center;
    
}

#register-html{
    text-decoration: none;
    color: red;
}

